* text=auto whitespace=-blank-at-eof
*.bat text eol=crlf
*.sh text eol=lf
*.md text eol=lf whitespace=-trailing-space,-blank-at-eof
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.jar binary
*.apk binary
